.login{
    background-color: red ;
}
.login:hover{
    background-color: rgb(154, 16, 16);
}
.home {
    display: flex;
    justify-content:space-around;
}
.signup-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
.signup{
    width:100%;
    
}